.navcontainer{
display:flex;
justify-content: space-around;
width:100%;
align-items:center ;
}

.linkscontainer{
  display:flex;
  justify-content: space-between;
  width:30%;
  align-items:center ;
}

.cartwiget{
  width:4rem ;
  
}

.link{
  color:rgb(75, 30, 75);
  text-decoration: none;
  font-weight: lighter;
}